**/node_modules
**/dist
**/reports
**/coverage
**/screenshots
.dockerignore
.husky
**/Dockerfile
docker-compose.dev.yaml
**/coverage
**/.DS_Store
yarn-error.log
lerna-debug.log
**/*.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches/*
!.yarn/plugins/*
!.yarn/releases/*
!.yarn/sdks/*
!.yarn/versions/*
