/node_modules
/*/node_modules
/*/*/node_modules
/dist
/*/dist
/*/*/dist
/reports
/coverage
.DS_Store
.env
yarn-error.log
lerna-debug.log
apps/*/cypress/coverage
apps/*/cypress/screenshots
apps/*/.nyc_output