/**/node_modules
/types
/dist
/**/dist
/reports
/coverage
.DS_Store
.env
yarn-error.log
lerna-debug.log
/**/cypress/coverage
/**/cypress/screenshots
/**/.nyc_output
/**/Svg/svgr
*.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
